* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #fbf4ec75;
}

.main__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.options {
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.table {
  width: calc(100% - 200px);
  text-align: center;
  border-collapse: collapse;
  border: 1px solid lightgray;
}

.table img {
  width: 16px;
  height: 16px;
}
